<section class="padding_standard">
    <article class="f_row gap_small return_container centred-v" (click)="return()">
        <svg-icon src="assets/icons/arrow.svg" class="return"/>
        <p>Volver</p>
    </article>
    <br>
    <article class="title f_row gap_small">
        <h3>{{message?.name}}</h3>
        <span class="time f_row gap_small fit">
            <p>{{ message?.createdAt | date}}</p>
            <p>({{ message?.createdAt | relativeDate}})</p>
        </span>
    </article>
    <br>
    <p>{{message?.message}}</p>
</section>
