header{
    position: sticky;
    top: 0;
    height: max-content;
}
.active{
    color: var(--color_accent);
}

a{
    text-decoration: none;
    transition: var(--standard_animation);
    &:hover{
        opacity: 0.6;
    }
}
