header{
    position: fixed;
    top: 0;
    height: max-content;
    width: 100%;
    z-index: 9;
}
.active{
    color: var(--color_accent);
}

a{
    text-decoration: none;
    transition: var(--standard_animation);
    &:hover{
        opacity: 0.6;
    }
}

.scroll{
    background: transparentize($color: black, $amount: 0.4);
    backdrop-filter: blur(2rem);
}
