.blog{
    width: 100%;
    aspect-ratio: 3/1;
    overflow: hidden;
}
.contend{
    display: grid;
    grid-template-rows: max-content auto max-content;
    h4{
        cursor: pointer;
        transition: var(--animation_standard);
        border-bottom: 1px solid transparent;
        &:hover{
            color: var(--color_accent);
            border-color: var(--color_accent);
        }
    }
}
.info_bottom{
    align-items: flex-end;
}
.likes{
    cursor: pointer;
    color: var(--color_secondary);
    transition: var(--animation_standard);
    &:hover{
        color: var(--color_accent);
        p{
            color: var(--color_accent);
        }
    }
    &.liked {
        color: var(--color_accent);
        p{
            color: var(--color_accent);
        }
    }
}

aside{
    position: sticky;
    top: 8rem;
    display: grid;
    grid-template-rows: max-content auto;
    align-items: end;
    height: calc(100vh - 20rem);

}

.active{
    color: var(--color_accent);
}

h6{
    padding-bottom: 1rem;
}

@media screen and (width <= 1280px) {
    aside{
        top: 4rem;
    }
}

@media screen and (width <= 768px) {
    .blog{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 3fr 1fr;
        aspect-ratio: 4/5;
    }
}
