<section>
    <h1>Dev Blog</h1>
    <p>Un pequeño espacio para compartir conocimiento sobre desarrollo Web</p>
    <br>
    <!-- <article>
        <h4>Populares</h4>
        <app-slider [list]="posts" />
    </article> -->
    <article class="column_3-1 gap_big">
        <div class="f_column gap_big">
            <section *ngFor="let item of posts" class="card blog padding_standard column_2-3">
                <picture class="pointer padding_big">
                    <img [src]="item.image" alt="imagen de blog" (click)="navigateTo(item.title)" loading="lazy" decoding="async">
                </picture>
                <article class="contend">
                    <div class="f_column gap_small">
                        <h4 (click)="navigateTo(item.title)" class="fit">{{ item.title }}</h4>
                        <p>{{item.createdAt | date}}</p>
                    </div>
                    <div class="f_column gap_small">
                        <br>
                        <p (click)="navigateTo(item.title)">{{item.description}}</p>
                    </div>
                    <div class="f_column gap_standard info_bottom">
                        <hr class="full">
                        <div class="f_row gap_standard">
                            <div class="f_row gap_small centred-v likes" [class.liked]="item.liked" (click)="like($event ,item.id)">
                                <svg-icon [src]="item.liked ? 'assets/icons/heart_fill.svg' : 'assets/icons/heart.svg' "
                                    class="icon" />
                                <p>{{item.likes}}</p>
                            </div>
                            <hr>
                            <button (click)="navigateTo(item.title)" class="fit">{{item.category}}</button>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <aside class="f_column">
            <div class="input_decorator">
                <label for="phone">Búsqueda</label>
                <div class="f_row gap_small centred-v">
                    <svg-icon class="input_icon" src="assets/icons/magnifier.svg" />
                    <input type="text" id="search" name="search" placeholder="Búsqueda">
                </div>
            </div>
            <br>
            <h6>Temas</h6>
            <ng-container *ngFor="let item of categoriesList">
                <p>{{item.category}}</p>
            </ng-container>
        </aside>
    </article>
</section>
