section{
    display: grid;
    grid-template-columns: max-content auto max-content;
}

button{
    border: none;
    cursor: pointer;
    color: var(--color_secondary);
    transition: var(--standard_animation);
    &:hover{
        color: var(--color_accent);
    }
    &:active{
        background-color: var(--color_secondary);
    }
    .forward{
        display: flex;
        width: 5rem;
        height: auto;
        rotate: 90deg;
    }
    .return{
        display: flex;
        width: 5rem;
        height: auto;
        rotate: -90deg;
    }
}

.contend{
    overflow: hidden;
    height: max-content;
}
