section {
    display: grid;
    margin: 0 auto;
    grid-template-columns: max-content auto max-content;
}

button {
    border: none;
    cursor: pointer;
    color: var(--color_secondary);
    transition: var(--standard_animation);
    &:hover {
        color: var(--color_accent);
    }
    &:active {
        background-color: var(--color_secondary);
    }
    .forward {
        display: flex;
        width: 5rem;
        height: auto;
        rotate: 90deg;
    }
    .return {
        display: flex;
        width: 5rem;
        height: auto;
        rotate: -90deg;
    }
}

.contend {
    overflow: hidden;
    height: max-content;
}

.blog {
    height: 40rem;
    width: 30rem;
    display: grid;
    grid-template-rows: max-content auto;
    picture {
        width: 100%;
        aspect-ratio: 16/9;
    }
    div {
        position: relative;
        border: var(--color_secondary) 0.2rem solid;
        border-top: none;
        overflow: hidden;
        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 3rem;
            background-image: linear-gradient(rgba(0, 0, 0, 0), black);
            bottom: 0;
            left: 0;
        }
        h6,
        p {
            width: 100%;
            height: fit-content;
        }
        p {
            color: var(--color_tertiary);
        }
    }
}
