<section class="standard_margin">
    <button>
        <svg-icon class="return" src="/assets/icons/arrow.svg"/>
    </button>
    <article class="card blog">
        <picture>
            <img src="/assets/images/placeholder.png" alt="placeholder">
        </picture>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil cum dolorem doloremque quos, ab ratione. Natus adipisci id eius in, reiciendis dolores explicabo eaque, dolore, autem amet excepturi illum. Consectetur.</p>
    </article>
    <button>
        <svg-icon class="forward" src="/assets/icons/arrow.svg"/>
    </button>
</section>
