<section>
    <button>
        <svg-icon svgClass="return" src="/assets/icons/arrow.svg"/>
    </button>
    <div class="f_row centred gap_standard">
        <article class="card blog" *ngFor="let item of list">
            <picture>
                <img src="/assets/images/placeholder.png" alt="placeholder">
            </picture>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil cum dolorem doloremque quos, ab ratione. Natus adipisci id eius in, reiciendis dolores explicabo eaque, dolore, autem amet excepturi illum. Consectetur.</p>
        </article>
    </div>
    <button>
        <svg-icon svgClass="forward" src="/assets/icons/arrow.svg"/>
    </button>
</section>
