.editor{
    width: 100%;
    height: calc(100% - 6rem);
    border: 1px solid var(--color_secondary);
    overflow: auto;
}

.windows{
    height: 100%;
    display: grid;
    grid-template-rows: max-content max-content max-content auto;
}

.actions{
    display: grid;
    grid-template-columns: max-content max-content auto;
    justify-items: end;
}
