@if(openEditor()){
<section class="full padding_big">
  <article class="f_row gap_small">
    <p>Main</p>
    @for (item of path; track $index) {
    <p>&gt;</p>
    <p>{{ item }}</p>
    }
  </article>
  <br />
  <article class="actions gap_standard">
    <button class="fit" (click)="cancel()">Cancelar</button>
    <button class="fit" (click)="deleteFile(null)">Eliminar</button>
    <button class="fit" (click)="update()">Guardar</button>
  </article>
  <br />
  <textarea class="editor padding_standard" [(ngModel)]="editorData" #editor></textarea>
</section>
} @else {
<section class="gap_standard padding_big windows" (click)="clickOut($event)" id="clicOut">
  <article class="f_row gap_small">
    <p>Main</p>
    @for (item of path; track $index) {
    <p>&gt;</p>
    <p>{{ item }}</p>
    }
  </article>
  <article class="actions_item">
    <div class="f_row gap_small return_container centred-v fit" (click)="return()">
      <svg-icon src="/assets/icons/arrow.svg" class="return" />
      <p>Volver</p>
    </div>
    <div class="f_row gap_standard">
      @if(activeElement){
      <button (click)="isArchive(activeElement) ? deleteFile(activeElement) : deleteFolder(activeElement)">Eliminar</button>
      <button (click)="isArchive(activeElement) ? openFile(activeElement) : open(activeElement)">Abrir</button>
      } @else {
      <button (click)="folder()">Carpeta</button>
      <button (click)="upload()">Subir</button>
      @if (path[0] === 'backup'){
      <button (click)="backup()">Backup</button>
      } }
    </div>
  </article>
  <article class="f_row gap_small wrap fit">
    @for (item of folders; track $index) {
    <app-iconify iconType="folder" [name]="item" [class.window_active]="activeElement === item" (click)="active(item)" (dblclick)="open(item)" />
    } @for (item of files; track $index) {
    <app-iconify iconType="archive" [name]="item" [class.window_active]="activeElement === item" (click)="active(item)" (dblclick)="openFile(item)" />
    }
  </article>
  @if(uploadingFile()){
  <article class="upload_file">
    <div class="file_container card padding_standard fit f_column gap_standard centred-v">
      <p>{{ fileName }}</p>
      <div class="f_row gap_standard">
        <button (click)="cancelUpload()">Cancelar</button>
        <button (click)="uploadFile()">Confirmar</button>
      </div>
    </div>
    <input type="file" name="file" style="visibility: hidden; height: 0" [(ngModel)]="fileData" #fileInput />
  </article>
  } @if (newFolder()){
  <form [formGroup]="folderForm" (ngSubmit)="createFolder(folderForm)" class="upload_file">
    <div class="file_container card padding_standard fit f_column gap_standard centred-v">
      <div class="input_decorator fit">
        <label for="folder">Nombre de la carpeta</label>
        <div class="f_row centred-v">
          <svg-icon class="input_icon" src="/assets/icons/folder.svg" />
          <input type="text" class="full" id="folder" name="folder" formControlName="folderName" />
        </div>
        <p class="customError" [class.active]="folderName?.hasError('required') && folderName?.touched">Campo requerido</p>
      </div>
      <div class="f_row gap_standard">
        <button type="button" (click)="cancelFolder()">Cancelar</button>
        <button type="submit" [disabled]="folderForm.invalid">Confirmar</button>
      </div>
    </div>
  </form>
  }
</section>
}
