<section class="gap_standard padding_big windows" *ngIf="!openEditor">
    <article class="f_row gap_small">
        <p>Main</p>
        <ng-container *ngFor="let item of path">
            <p>&gt;</p>
            <p>{{item}}</p>
        </ng-container>
    </article>
    <article class="actions_item">
        <div class="f_row gap_small return_container centred-v fit" (click)="return()">
            <svg-icon src="assets/icons/arrow.svg" class="return"/>
            <p>Volver</p>
        </div>
        <div class="f_row gap_standard">
            <button *ngIf="isArchive(activeElement)" (click)="deleteFile(activeElement)">Eliminar</button>
            <button *ngIf="isArchive(activeElement)">Descargar</button>
            <button *ngIf="activeElement" (click)="isArchive(activeElement)? openFile(activeElement) : open(activeElement)">Abrir</button>
            <button (click)="upload()">Subir</button>
        </div>
    </article>
    <article class="f_row gap_standard wrap">
        <ng-container *ngFor="let item of folders">
            <app-iconify iconType="folder" [name]="item" [class.window_active]="activeElement === item" (click)="active(item)" (dblclick)="open(item)"/>
        </ng-container>
        <ng-container *ngFor="let item of files">
            <app-iconify iconType="archive" [name]="item" [class.window_active]="activeElement === item" (click)="active(item)" (dblclick)="openFile(item)"/>
        </ng-container>
    </article>
    <article class="upload_file" *ngIf="uploadFile">
        <div class="file_container card padding_standard fit f_column gap_standard centred-v">
            <p>fileName</p>
            <div class="f_row gap_standard">
                <button (click)="cancelUpload()">Cancelar</button>
                <button>Confirmar</button>
            </div>
        </div>
        <input type="file" style="visibility: hidden; height: 0;" [(ngModel)]="fileData" #fileInput>
    </article>
</section>

<section class="full padding_big" *ngIf="openEditor">
    <article class="f_row gap_small">
        <p>Main</p>
        <ng-container *ngFor="let item of path">
            <p>&gt;</p>
            <p>{{item}}</p>
        </ng-container>
    </article>
    <br>
    <article class="actions gap_standard">
        <button class="fit" (click)="cancel()" >Cancelar</button>
        <button class="fit" (click)="deleteFile(null)" >Eliminar</button>
        <button class="fit">Guardar</button>
    </article>
    <br>
    <textarea class="editor padding_standard" [(ngModel)]="editorData" #editor></textarea>
</section>
