section {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: transparentize($color: #000000, $amount: 0.5);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: var(--animation_fast);
}
article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    max-width: 30rem;
    text-align: center;
}
picture {
    height: 10rem;
}

.show_modal{
    opacity: 1;
    visibility: visible;
}
