.post_wrapper{
    max-width: 100rem;
}

.actions_header{
    display: grid;
    grid-template-columns: auto max-content;
}

.likes{
    cursor: pointer;
    color: var(--color_secondary);
    transition: var(--animation_standard);
    &:hover{
        color: var(--color_accent);
        p{
            color: var(--color_accent);
        }
    }
    &.liked {
        color: var(--color_accent);
        p{
            color: var(--color_accent);
        }
    }
}
