.post_wrapper{
    max-width: 100rem;
}
.return_container{
    color: var(--color_secondary);
    cursor: pointer;
    user-select: none;
    p{
        color: currentColor;
        transition: var(--animation_standard);
    }
    &:hover{
        color: var(--color_accent);
    }
}
.return{
    display: flex;
    height: 1.5rem;
    rotate: -90deg;
    color: currentColor;
    transition: var(--animation_standard);
}
