<aside class="padding_standard full">
    <h4 class="padding_small">Admin</h4>
    <nav>
        <a routerLink="/admin/messages" routerLinkActive="active">
            <div class="router_box padding_small">
                <p>Messages</p>
            </div>
        </a>
        <a routerLink="/admin/new_post" routerLinkActive="active">
            <div class="router_box padding_small">
                <p>New post</p>
            </div>
        </a>
        <a routerLink="/admin/windows" routerLinkActive="active">
            <div class="router_box padding_small">
                <p>File explorer</p>
            </div>
        </a>
        <a href="/get_logs">
            <div class="router_box padding_small">
                <p>Admin logs</p>
            </div>
        </a>
    </nav>
    <button (click)="logOut()">
        Log out
    </button>
</aside>
