<aside class="padding_standard full">
    <h4 class="padding_small">Admin</h4>
    <nav>
        <a routerLink="/admin/messages" routerLinkActive="active">
            <div class="router_box padding_small">
                <p>Mensajes</p>
            </div>
        </a>
        <a routerLink="/admin/posts" routerLinkActive="active">
            <div class="router_box padding_small">
                <p>Posts</p>
            </div>
        </a>
        <a routerLink="/admin/windows" routerLinkActive="active">
            <div class="router_box padding_small">
                <p>Explorador</p>
            </div>
        </a>
        <a href="/get_logs">
            <div class="router_box padding_small">
                <p>Registros</p>
            </div>
        </a>
    </nav>
    <button (click)="logOut()">
        Salir
    </button>
</aside>
