.message {
    display: grid;
    grid-template-columns: max-content auto max-content;
    border-bottom: 1px solid var(--color_secondary) ;
    cursor: pointer;
    p{
        transition: var(--animation_standard);
    }
    &:hover {
        p{
            color: var(--color_accent);
        }
    }
}
.dot{
    height: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: transparent;
    border: .5rem solid var(--color_secondary);
    &.no_read{
        border-color: var(--color_accent);
    }
}
