<section class="full">
    <article class="f_column centred-h about">
        <h1>Alberto Arias</h1>
        <h4>Web Developer</h4>
        <div class="f_row gap_standard info_container">
            <div class="f_column gap_standard centred-h">
                <p>Desarrollador web con enfoque en tecnologías Fronted como Angular y React, con un grado de
                    ingeniera mecatronica, ubicado en Zipaquira, Colombia</p>
                <p>Creo experiencias limpias y elegantes con un toque de creatividad, me apoyo en tecnologías a
                    la vanguardia siempre estando al dia con mis conocimientos</p>
                <p>Tengo experiencia trabajando tanto en proyectos desde la planificación hasta el despliegue y
                    mantenimiento, como integrando y optimizando soluciones personalizadas</p>
                <p>Me considero como una gran mente de pensamiento lógico y analítico, me gusta potenciar mis ideas y
                    pensamientos con herramientas de inteligencia artificial</p>
                <p>Cuando no estoy escribiendo código me gusta leer, entrenar y mejorar en mi crecimiento personal 🔱
                </p>
            </div>
            <div class="f_column centred gap_big portrait_container">
                <img class="portrait" src="/assets/images/portrait.png" alt="mi retrató con Inteligencia artificial">
                <button (click)="sendTo('https://drive.google.com/file/d/1894WsCmCQczVxnmx7xEwi3LWheEQq2Lt/view')">Descargar CV</button>
            </div>
        </div>
    </article>
    <!-- Projects -->
    <article class="f_column gap_standard">
        <h3>Proyectos</h3>
        <p>Muestra de mi talento y esfuerzo, para ver mas en mi <a href="https://github.com/Alberto-Arias-x64">GitHub</a>, la mayoría son públicos</p>
        <br>
        <div class="projects_container gap_big">
            <section class="column_2-3 project card" *ngFor="let item of Projects">
                <article class="padding_standard info_card">
                    <h5>{{ item.title }}</h5>
                    <div>
                        <div class="f_row gap_small centred-v">
                            <p><strong>Estatus: </strong>{{item.status}}</p>
                            <div class="status" [class.ok]="item.status === 'OK'"
                                [class.development]="item.status === 'Desarrollo'"
                                [class.pending]="item.status !== 'OK' && item.status !== 'Desarrollo'"></div>
                        </div>
                        <br>
                        <p><strong>Descripción: </strong>{{ item.description }}</p>
                    </div>
                    <div class="f_column centred">
                        <button (click)="sendTo(item.link)" class="full">Visitar</button>
                    </div>
                </article>
                <picture (click)="sendTo(item.link)" class="pointer">
                    <img [src]="item.image.src" [alt]="item.image.alt" loading="lazy" decoding="async" appZoomFilter appBlackFilter>
                </picture>
                <div class="f_column gap_small badges_container full centred" appShowBadges>
                    <div class="badge f_row centred" *ngFor="let tech of item.tech">
                        <img load="lazy" decoding="async" [src]="tech.src" [alt]="tech.alt">
                        <p class="badge_name">{{tech.alt}}</p>
                    </div>
                </div>
            </section>
        </div>
    </article>
    <!-- info -->
    <article class="f_column gap_standard spacer">
        <h3>Información de contacto</h3>
        <p>Por favor siéntase libre de enviarme un correo o contactarme directamente y le responderé lo mas pronto
            posible.</p>
        <div class="card padding_standard fit f_column gap_small">
            <p>Email: <strong>alberto.arias.x64@gmail.com</strong></p>
            <p>Wp business: <strong>+57 321 498 6813</strong></p>
            <div class="f_row centred gap_standard fit">
                <svg-icon src="/assets/icons/linkedin.svg" class="icon"
                    (click)="sendTo('https://www.linkedin.com/in/alberto-arias-629128211/')" />
                <svg-icon src="/assets/icons/github.svg" class="icon"
                    (click)="sendTo('https://github.com/Alberto-Arias-x64')" />
                <svg-icon src="/assets/icons/stackoverflow.svg" class="icon"
                    (click)="sendTo('https://stackoverflow.com/users/18924077/alberto-x64')" />
                <svg-icon src="/assets/icons/mail.svg" class="icon"
                    (click)="sendTo('/contact')" />
                <!-- <svg-icon src="/assets/icons/instagram.svg" class="icon" (click)="sendTo('https://www.instagram.com/alberto_arias_x64/')"/> -->
            </div>
        </div>
    </article>
</section>
