.badge_container{
    position: relative;
    padding-bottom: 2rem;
    overflow: hidden;
    margin: 0 auto;
    height: 8rem;
    width: 100%;
    article{
        position: absolute;
        width: 100%;
        animation: autoMove 60s infinite linear;
    }
}

.badge{
    position: relative;
    height: 7rem;
    aspect-ratio: 1/1;
    padding: .2rem;
    border-radius: .2rem;
    background-color: whitesmoke;
    transition: var(--standard_animation);
    img{
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
    &:hover{
        background-color: var(--color_accent);
        .badge_name{
            color: var(--color_secondary);
        }
    }
    .badge_name{
        position: absolute;
        bottom: -2rem;
        font-size: smaller;
        color: transparent;
        transition: var(--standard_animation);
    }
}
.project{
    max-width: 1000px;
    width: 100%;
    .card{
        border-right: none;
    }
}
.status{
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    &.ok{
        background-color: greenyellow;
    }
    &.development{
        background-color: blue
    }
    &.pending{
        background-color: yellow;
    }
    &.down{
        background-color: red;
    }
}
.icon{
    display: flex;
    height: 5rem;
    width: 5rem;
    color: var(--color_secondary);
    transition: var(--standard_animation);
    cursor: pointer;
    &:hover{
        color: var(--color_accent);
    }
}
