<section class="padding_standard">
    <h1>Alberto Arias</h1>
    <h4>Web Developer</h4>
    <article>
        <p>Soy desarrollador web con enfoque en tecnologías Fronted como Angular y React, tengo un grado de ingeniera mecatronica, me encuentro ubicado en Zipaquira, Colombia</p>
        <br>
        <p>Me apasiona crear experiencias limpias y elegantes con un toque de creatividad, me apoyo en tecnologías a la vanguardia siempre estando al dia con mis conocimientos</p>
        <br>
        <p>Tengo experiencia trabajando tanto en proyectos desde la planificación hasta el despliegue y mantenimiento, como integrando y optimizando soluciones personalizadas</p>
        <br>
        <p>Me considero como una gran mente de pensamiento lógico y analítico, me gusta potenciar mis ideas y pensamientos con herramientas de inteligencia artificial</p>
        <br>
        <p>Cuando no estoy escribiendo código me gusta leer, entrenar y mejorar en mi crecimiento personal 🔱</p>
    </article>
    <article>
        <h3>Stack de tecnologías</h3>
        <p>Estas son unas de las herramientas que he utilizado a lo largo de mi carrera profesional</p>
        <div class="f_row centred gap_small">
            <div class="badge f_column centred" *ngFor="let item of Badges">
                <img load="lazy" decoding="async" [src]="item.src" [alt]="item.alt">
            </div>
        </div>
    </article>
    <article>
        <h3>Proyectos</h3>
        <p>Muestra de mi esfuerzo y mi talento, si te interesa ver mas en mi GitHub tengo mas, la mayoría son públicos</p>
        <br>
        <section class="c_DT project">
            <article class="card padding_standard f_column gap_small">
                <h5>Landing page</h5>
                <div class="f_row gap_small centred-v">
                    <p>Status: <strong>OK</strong></p>
                    <div class="status ok"></div>
                </div>
                <p>Frontend: <strong>HTML + CSS + JS</strong></p>
                <p>Backend: <strong>Express</strong></p>
                <p>Despliegue: <strong>Vercell</strong></p>
                <p>Descripción: <strong>Landing pague para un Artista Colombiano con diseño responsive</strong></p>
                <br>
                <div class="f_column centred">
                    <button (click)="sendTo('https://matthewlopz-a4bdj55uh-x64.vercel.app')">Visitar</button>
                </div>
            </article>
            <picture>
                <img src="https://alberto-arias-x64.github.io/Pagina-web/Media/img20.png" alt="">
            </picture>
        </section>
    </article>
</section>
