<section class="padding_standard">
    <h1>Alberto Arias</h1>
    <h4>Web Developer</h4>
    <article class="f_column gap_standard">
        <p>Soy desarrollador web con enfoque en tecnologías Fronted como Angular y React, tengo un grado de ingeniera mecatronica, me encuentro ubicado en Zipaquira, Colombia</p>
        <p>Me apasiona crear experiencias limpias y elegantes con un toque de creatividad, me apoyo en tecnologías a la vanguardia siempre estando al dia con mis conocimientos</p>
        <p>Tengo experiencia trabajando tanto en proyectos desde la planificación hasta el despliegue y mantenimiento, como integrando y optimizando soluciones personalizadas</p>
        <p>Me considero como una gran mente de pensamiento lógico y analítico, me gusta potenciar mis ideas y pensamientos con herramientas de inteligencia artificial</p>
        <p>Cuando no estoy escribiendo código me gusta leer, entrenar y mejorar en mi crecimiento personal 🔱</p>
    </article>
    <article class="f_column gap_standard">
        <h3>Stack de tecnologías</h3>
        <p>Estas son unas de las herramientas que he utilizado a lo largo de mi carrera profesional</p>
        <div class="f_row centred gap_small badge_container">
            <div class="badge f_column centred" *ngFor="let item of Badges">
                <img load="lazy" decoding="async" [src]="item.src" [alt]="item.alt">
                <p class="badge_name">{{item.alt}}</p>
            </div>
        </div>
    </article>
    <article class="f_column gap_standard">
        <h3>Proyectos</h3>
        <p>Muestra de mi talento y esfuerzo, si te interesa ver mas en mi GitHub tengo mas, la mayoría son públicos</p>
        <br>
        <section class="c_DT project">
            <article class="card padding_standard f_column gap_small">
                <h5>Landing page</h5>
                <div class="f_row gap_small centred-v">
                    <p>Status: <strong>OK</strong></p>
                    <div class="status ok"></div>
                </div>
                <p>Frontend: <strong>HTML + CSS + JS</strong></p>
                <p>Backend: <strong>Express</strong></p>
                <p>Despliegue: <strong>Vercell</strong></p>
                <p>Descripción: <strong>Landing pague para un Artista Colombiano con diseño responsive</strong></p>
                <br>
                <div class="f_column centred">
                    <button (click)="sendTo('https://matthewlopz-a4bdj55uh-x64.vercel.app')">Visitar</button>
                </div>
            </article>
            <picture>
                <img src="https://alberto-arias-x64.github.io/Pagina-web/Media/img20.png" alt="">
            </picture>
        </section>
    </article>
    <article class="f_column gap_standard">
        <h3>Información de contacto</h3>
        <p>Por favor siéntase libre de enviarme un correo o contactarme directamente y le responderé lo mas pronto posible.</p>
        <br>
        <div class="card padding_standard fit f_column gap_small">
            <p>Email: <strong>alberto.arias.x64@gmail.com</strong></p>
            <p>Whatsapp: <strong>+57 321 498 6813</strong></p>
            <div class="f_row centred gap_standard fit">
                <svg-icon src="/assets/icons/linkedin.svg" class="icon" (click)="sendTo('https://www.linkedin.com/in/alberto-arias-629128211/')"/>
                <svg-icon src="/assets/icons/github.svg" class="icon" (click)="sendTo('https://github.com/Alberto-Arias-x64')" />
                <svg-icon src="/assets/icons/stackoverflow.svg" class="icon" (click)="sendTo('https://stackoverflow.com/users/18924077/alberto-x64')"/>
                <svg-icon src="/assets/icons/instagram.svg" class="icon" (click)="sendTo('https://www.instagram.com/alberto_arias_x64/')"/>
            </div>
        </div>
    </article>
</section>
