/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-VariableFont_wght.ttf');
    font-display: swap;
}
:root{
    --color_principal: #000;
    --color_secondary: #fff;
    --color_accent: #E31952;
    --standard_animation: all ease 200ms;
}
html{
    box-sizing: border-box;
    font-family: 'Montserrat',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
    background-color: var(--color_principal);
}
*{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: var(--color_secondary);
}

/* Titles */
h1{
    font-size: 8rem;
    font-weight: lighter;
}
h2{
    font-size: 7rem;
}
h3{
    font-size: 6rem;
}
h4{
    font-size: 5rem;
}
h5{
    font-size: 4rem;
}
h6{
    font-size: 3rem;
}

/* Inputs */
input{
    width: 100%;
    background-color: transparent;
    color: var(--color_secondary);
    padding: 1rem;
    border: none;
    outline: none;
    &[type = number]{
        &::-webkit-inner-spin-button {display: none;}
        &::-webkit-outer-spin-button {display: none;}
    }
}
textarea{
    @extend input;
    resize: none;
}
.input_decorator{
    width: 100%;
    border-bottom: .2rem var(--color_secondary) solid;
    transition: var(--standard_animation);
    &:focus-within{
        border-color: var(--color_accent);
        .icon{
            color: var(--color_accent);
        }
    }
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: auto;
        color: var(--color_secondary);
    }
}

/* Buttons */
button{
    border: 1px solid white;
    padding: 2rem;
    background-color: transparent;
    cursor: pointer;
    transition: var(--standard_animation);
    @extend .padding_standard;
    &:disabled{
        cursor: default;
        opacity: 0.5;
    }
    &:hover:not(:disabled){
        color: var(--color_accent);
        border-color: var(--color_accent);
    }
    &:focus-visible:not(:disabled){
        border-color: var(--color_accent);
        outline: none;
    }
    &:active:not(:disabled){
        color: var(--color_principal);
        border-color: var(--color_principal);
        background-color: var(--color_accent);
    }
}

/* Images */
picture{
    position: relative;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 300%;
        background: linear-gradient(65deg, rgba(147,147,147,1) 35%, rgb(202, 202, 202) 50%, rgba(147,147,147,1) 65%);
        animation: loading 1.5s forwards infinite;
    }
}
@keyframes loading{
    0%{
        left: -200%;
    }
    80%,100%{
        left: 0;
    }
}

/* Layout flex */
.f_row{
    display: flex;
    flex-direction: row;
}
.f_column{
    display: flex;
    flex-direction: column;
}
.centred{
    justify-content: center;
    align-items: center;
}
.centred-v{
    align-items: center;
}
.centred-h{
    justify-content: center;
}

/* Layout grid */
.c_half{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Spacing */
.margin_big{
    margin: 3rem;
}
.margin_standard{
    margin: 2rem;
}
.margin_small{
    margin: 1rem;
}
.padding_big{
    padding: 3rem;
}
.padding_standard{
    padding: 2rem;
}
.padding_small{
    padding: 1rem;
}
.gap_big{
    gap: 3rem;
}
.gap_standard{
    gap: 2rem;
}
.gap_small{
    gap: 1rem;
}

/* Object size */
.full{
    width: 100%;
    height: 100%;
}
.fit{
    width: fit-content;
    height: fit-content;
}

/* Shared elements */
.card{
    @extend .padding_standard;
    border: var(--color_secondary) .2rem solid;
    &.blog{
        @extend .gap_standard;
        max-height: 50rem;
        max-width: 40rem;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: max-content auto;
        picture{
            width: 100%;
            aspect-ratio: 16/9;
        }
    }
}
